<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">
      View Interview Marks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   
    <table class="bordered">
      <thead class="color">
        <tr>
            <th>
              <ion-icon name="person"></ion-icon>
              <br>
              IntervieweeName
            </th>

            <th>
              <ion-icon name="mail"></ion-icon>
              <br>
              IntervieweeEmail
            </th>

            <th>
              <ion-icon name="list"></ion-icon>
              <br>
              Score
            </th>
            

          
            <th>
              <ion-icon name="checkmark-circle-outline"></ion-icon>
              <br>
              Actions
            </th>
        </tr>

      </thead>

        <tbody class="body">
      
        </tbody>

        </table>
      </ion-card>
    </ion-content>



<ion-footer class="custom-footer">
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>
