<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">
      View Interview Marks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Interview Data
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-divider class="header-row">
          <ion-label class="center-label">ID</ion-label>
          <ion-label class="center-label">Interviewee Name</ion-label>
          <ion-label class="center-label">Interviewee Surname</ion-label>
          <ion-label class="center-label">Email Address</ion-label>
          <ion-label class="center-label">Score</ion-label>
        </ion-item-divider>

        <ion-item class="data-row" *ngFor="let item of interviewData">
          <ion-label class="center-label">223</ion-label>
          <ion-label class="center-label">Amahle</ion-label>
          <ion-label class="center-label">Ghost</ion-label>
          <ion-label class="center-label">hlehle@outlook.com</ion-label>
          <ion-label class="center-label">89</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>



<ion-footer class="custom-footer">
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>
