<ion-header>
    <ion-toolbar>
      <ion-title class="header-title">
        View Interview Marks
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        Interview Data
      </ion-card-header>
      <ion-card-content>
        <table>
          <thead class="theadd">
            <tr class="header-row">
              <th class="center-label">ID</th>
              <th class="center-label">Interviewee Name</th>
              <th class="center-label">Email Address</th>
              <th class="center-label">Status</th>
              <th class="center-label">Score</th>
              <th class="center-label">Action</th>
            </tr>
          </thead>
          <tbody class="fihla">
            <tr class="data-row" *ngFor="let item of interviewData">
              <td class="center-label">{{item.int_id}}</td>
              <td class="center-label">{{item.name}}</td>
              <td class="center-label">{{item.email}}</td>
              <td class="center-label">{{item.status}}</td>
              <td class="center-label">{{item.total}}</td>
              <td class="center-label">
                <button ion-button (click)="Send(item.email, item.name,item.total)" class="horizontal-button approve-button" style="color: green;">
                  Send Email
                </button>
              </td>
            </tr>
          </tbody>
          <tbody class="mobile">
            <tr class="data-row" *ngFor="let item of interviewData">
              <td class="center-label">ID:  {{item.int_id}}</td>
              <td class="center-label">Name:  {{item.name}}</td>
              <td class="center-label">Email:  {{item.email}}</td>
              <td class="center-label">Status:  {{item.status}}</td>
              <td class="center-label">Total Score:  {{item.total}}</td>
              <td class="center-label">
                <button ion-button (click)="Send(item.email, item.name,item.total)" class="horizontal-button approve-button" style="color: green;">
                  Send Email
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-footer class="custom-footer">
    Designed by @<b>MUT INNOVATIONLAB</b>
  </ion-footer>
  