<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">
      All Interviews
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content style="--background: rgb(255, 255, 255);">
  <div class="table-container">
    <div *ngFor="let group of groupedInterviewees | keyvalue">
      <h3 class="date-header">
        {{ group.key === todayDateString ? 'Today' : group.key }}
      </h3>
      <table class="interview-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date</th>
            <th>Status</th>
            <th>Update Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of group.value">
            <td>{{item.int_id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.date}}</td>
            <td>{{item.Status}}</td>
            <td>
              <ion-select 
                [(ngModel)]="item.selectedOption" 
                (ionChange)="updateField(item.int_id, item.selectedOption)" 
                placeholder="Update Status"
              >
                <ion-select-option value="In Progress">In Progress</ion-select-option>
                <ion-select-option value="Interviewed">Interviewed</ion-select-option>
                <ion-select-option value="Waiting">Waiting</ion-select-option>
              </ion-select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
  
<ion-footer class="custom-footer">
  Designed by @<b>Innovation Lab</b>
</ion-footer>