<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <h2 class="header-title">View Interview History</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="sc">
  <div class="cent">
    <ion-grid>
      <div class="table-wrapper">
        <table class="bordered">
          <thead class="color">
            <tr>

              <th>
                <ion-icon name="calendar"></ion-icon>
                <br>
                
                Date
              </th>

              <th>
                <ion-icon name="person"></ion-icon>
                <br>
                
                Interviewer Address
              </th>

              <th>
                <ion-icon name="person"></ion-icon>
                <br>
                Interviewee ID
               
              </th>

              <th>
                <ion-icon name="document-text-outline"></ion-icon>
                <br>
                Interviewee Name
              </th>
              <th>
                <ion-icon name="mail"></ion-icon>
                <br>
                Email Address
              </th>
              <th>
                <ion-icon name="stats-chart-outline"></ion-icon>
                <br>
                Status
              </th>
            </tr>
          </thead>
          <tbody class="body">
            <tr *ngFor="let data of interviewHistory">
              <td class="white-text">{{data.date}}</td>
              <td class="white-text">{{data.interviewerEmail}}</td>
              <td class="white-text">{{data.int_id}}</td>
              <td class="white-text">{{data.name}}</td>
               <td class="white-text">{{data.email}}</td>
              <td class="white-text">{{data.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="total-text ion-text-left">Total Interviews: {{interviewHistory.length}}</p>
    </ion-grid>
  </div>
</ion-grid>
</ion-content>

<ion-footer class="custom-footer">
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>
