.scrollable-content {
  --background: #ECF0F6;
}

ion-content {
  --background: #ECF0F6;
}



ion-card {
  background-color: #FFFFFF;
  color: #222428;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow-x: auto; /* Enable horizontal scroll */
}

.table-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%; /* Set a width to enable scrolling */
  padding-bottom: 20px; /* Add bottom padding to prevent overlap with footer */
}

ion-card-header {
  background-color: #065D78;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  font-size: 1.2rem; /* Adjust font size */
}

ion-card-content {
  padding: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header-row {
  display: flex;
  align-items: center;
  background-color: #065D78;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px 0;
  line-height: 1.5;
  border-radius: 10px;
  font-size: 1rem; /* Adjust font size */
}

.center-label {
  flex: 1;
  text-align: center;
}

.data-row {
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  padding: 10px 0;
  line-height: 1.5;
  border-radius: 10px;
  font-size: 1rem; /* Adjust font size */
}

.horizontal-button {
  background-color: #65C466;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.horizontal-button:hover {
  background-color: #4CAF50;
}

.custom-footer {
  text-align: center;
  background-color: #065D78;
  color: #FFFFFF;
  padding: 10px;
}

.custom-footer b {
  font-weight: bold;
}

.bordered {
  border-collapse: collapse;
  width: 100%;
}

.bordered th,
.bordered td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.bordered th {
  background-color: #065D78;
  color: white;
}

.cent {
  text-align: center;
}

.total-text {
  margin-top: 20px;
}

.color {
  background-color: #065D78;
  color: white;
}



/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .ion-toolbar {
    flex-direction: column;
    align-items: center;
  }

  .header-title {
    margin-top: 10px;
    font-size: 18px;
  }

  .cent {
    margin: 0 10px;
  }

  .total-text {
    margin-top: 10px;
    font-size: 20px;
  }

  .bordered th,
  .bordered td {
    padding: 6px;
    font-size: 20px; 
  }

  @media only screen and (max-width: 300px) {
    .scrollable-content {
      padding: 0 10px; 
    }
  
  }
}
