<ion-header class="ioon-header">
  <ion-toolbar>
    <ion-title class="header-title">
      RESET PASSWORD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/tiny.jpg') no-repeat center / cover;">
  <div class="container3">
    <div class="centered-container">
      <div class="image-containeer">
        <img src="assets/logo.jpg" alt="Logo" class="logo">
      </div>
  </div>
  <ion-card>
    <ion-card-content>
      <br>
      <div class="custom-card">
        <ion-label>Email Address</ion-label>
        <ion-item class="custom-input rounded">
          <ion-input type="email" name="email" [(ngModel)]="email" (input)="emailError = null;"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="emailError">{{ emailError }}</div>
        <button expand="block" (click)="reset()" class="butSubmitt">
          <span class="span-mother">
            <span>R</span>
            <span>e</span>
            <span>s</span>
            <span>e</span>
            <span>t</span>
          </span>
          <span class="span-mother2">
            <span>P</span>
            <span>a</span>
            <span>s</span>
            <span>s</span>
            <span>w</span>
            <span>o</span>
            <span>r</span>
            <span>d</span>
          </span>
        </button>
        <div class="form-section">
          <p>I got a password <a class="custom-link" href="applicant-login()">Log in</a> </p>
        </div>
        <div class="align">
          <!-- Content of the div -->
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

<ion-footer class="custom-footer">
  Designed with ❤️ by <b>MUT INNOVATIONLAB</b>
</ion-footer>