<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="header-title">
      MUT Job Vacancies
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
          <ion-button id="popover-button"><ion-icon name="person"></ion-icon></ion-button>
       
        <ion-popover trigger="popover-button" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list >
                <ion-item lines="none" [button]="true" [detail]="false" (click)="goToView()" ><ion-icon name="eye" ></ion-icon> &nbsp;  Profile</ion-item>
                <ion-item lines="none" [button]="true" [detail]="false"  (click)="presentConfirmationAlert()"><ion-icon color="danger" name="exit"></ion-icon>&nbsp;<p>LOGOUT</p></ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="custom-list">
    <ion-item-sliding *ngFor="let table of tables$">
      <ion-item-options lines="full" side="start">
        <ion-item-option color="danger">
          <ion-icon name="trash-outline" style="font-size: 24px;"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
  
      <ion-item lines="full"  class="list-item">
        <div class="item-content">
          <span class="item-topic">Job Post:  {{ table.jobpost }}</span><br>
          <span class="item-topic">Department:  {{ table.jobdepartment }}</span><br>
          <span class="item-topic">Code:  {{ table.jobfaculty }}</span><br>
          <span class="item-topic">Requirements:</span><br>
          <span class="item-topic">{{ table.description }}</span><br>
          <span class="item-topic">Qualification:  {{ table.qualification }}</span><br>
          <span class="item-topic">Experience:  {{ table.required_exp }}</span><br>
          <span class="item-topic">End Date:  {{ table.date }}</span><br>
          <span class="item-topic"></span><br>
        </div>
        <ion-icon class="fowarder" name="chevron-forward-outline" (click)="navigateToViewPage(table.jobfaculty)" style="font-size: 24px; color: #aaa;"></ion-icon>
      </ion-item>

    </ion-item-sliding>
  </ion-list>
</ion-content>
