 /* styles.css */

 .header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #065D78;
  color: white;
  height: 70px;
  animation: headerFadeIn 1s ease-in;
}

.custom-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 100%; /* Set a fixed height for equal size */
  color: #fff;

 
}

.custom-card:hover {
  transform: scale(1.05);
}

ion-card-header {
  background-color:#065D78;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  height: 80px; /* Set a fixed height for equal size */
}


.item-label {
  font-weight: bold;
}

.fowarder {
  cursor: pointer;
}

@keyframes headerFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* styles.css */

ion-card-content {
  background-color: #fff ; /* Light gray background color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(37, 25, 25, 0.1);
  padding: 20px;
  margin: 20px;
}

ion-item {
  border-bottom: 1px solid #dcdcdc; /* Gray border between items */
}

.item-label {
  font-weight: bold;
  color: #245576; /* Blue label color */
}

.item-value {
  color: #333; /* Dark text color for values */
}

/* Apply a margin to the last ion-item to provide space at the bottom */
ion-item:last-child {
  margin-bottom: 0;
}

/* Add styles for the container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
ion-card-title{
  color: #fff;
}
ion-card-subtitle{
  color: #fff;
}

.custom-footer {
  text-align: center;
  background-color: #065D78; /* Footer background color */
  padding: 2px;
}



//////???////////
 .socket {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}






.c1 {
  margin-left: -470px;
  margin-top: -150px;
}

.c2 {
  margin-left: -310px;
  margin-top: -430px;
}

.c3 {
  margin-left: 10px;
  margin-top: -430px;
}

.c4 {
  margin-left: 170px;
  margin-top: -150px;
}

.c5 {
  margin-left: -310px;
  margin-top: 130px;
}

.c6 {
  margin-left: 10px;
  margin-top: 130px;
}

.c7 {
  margin-left: -630px;
  margin-top: -430px;
}

.c8 {
  margin-left: 330px;
  margin-top: -430px;
}

.c9 {
  margin-left: -150px;
  margin-top: 410px;
}

.c10 {
  margin-left: -630px;
  margin-top: 130px;
}

.c11 {
  margin-left: 330px;
  margin-top: 130px;
}

.c12 {
  margin-left: -150px;
  margin-top: -710px;
}

.c13 {
  margin-left: -470px;
  margin-top: -710px;
}

.c14 {
  margin-left: 170px;
  margin-top: -710px;
}

.c15 {
  margin-left: -470px;
  margin-top: 410px;
}

.c16 {
  margin-left: 170px;
  margin-top: 410px;
}

.c17 {
  margin-left: -790px;
  margin-top: -150px;
}

.c18 {
  margin-left: 490px;
  margin-top: -150px;
}

.c19 {
  margin-left: -630px;
  margin-top: -990px;
}

.c20 {
  margin-left: 330px;
  margin-top: -990px;
}

.c21 {
  margin-left: 10px;
  margin-top: -990px;
}

.c22 {
  margin-left: -310px;
  margin-top: -990px;
}

.c23 {
  margin-left: -630px;
  margin-top: 690px;
}

.c24 {
  margin-left: 330px;
  margin-top: 690px;
}

.c25 {
  margin-left: 10px;
  margin-top: 690px;
}

.c26 {
  margin-left: -310px;
  margin-top: 690px;
}

.c27 {
  margin-left: -790px;
  margin-top: -150px;
}

.c28 {
  margin-left: -950px;
  margin-top: -430px;
}

.c29 {
  margin-left: -950px;
  margin-top: 130px;
}

.c30 {
  margin-left: 490px;
  margin-top: 410px;
}

.c31 {
  margin-left: -790px;
  margin-top: -710px;
}

.c32 {
  margin-left: -1110px;
  margin-top: -150px;
}

.c33 {
  margin-left: 650px;
  margin-top: -430px;
}

.c34 {
  margin-left: 650px;
  margin-top: 130px;
}

.c35 {
  margin-left: -790px;
  margin-top: 410px;
}

.c36 {
  margin-left: 490px;
  margin-top: -710px;
}

.c37 {
  margin-left: 810px;
  margin-top: -150px;
}

.r1 {
  animation-name: pulse00;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s;
}

.r2 {
  animation-name: pulse00;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s;
}

.r3 {
  animation-name: pulse00;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s;
}

.r1 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s;
}

.r2 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s;
}

.r3 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s;
}

@keyframes pulse00 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fade00 {
  0% {
    background: rgba(108, 151, 245, 0.781);
  }

  50% {
    background: #065D78;
  }

  100% {
    background: rgba(123, 246, 255, 0.781);
  }
}



