<ion-header class="header">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="header-title">
      MUT Job Vacancies
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
          <ion-button id="popover-button"><ion-icon name="person"></ion-icon></ion-button>
       
        <ion-popover trigger="popover-button" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list >
                <ion-item lines="none" [button]="true" [detail]="false" (click)="goToView()" ><ion-icon name="eye" ></ion-icon> &nbsp;  Profile</ion-item>
                <ion-item lines="none" [button]="true" [detail]="false"  (click)="presentConfirmationAlert()"><ion-icon color="danger" name="exit"></ion-icon>&nbsp;<p>LOGOUT</p></ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let table of tables$">
        <ion-card class="custom-card" (click)="navigateToViewPage(table.jobfaculty)">
          <ion-card-header style="--background: #79c2d0; color: #fff;">
            <ion-card-title>
                <ion-icon name="newspaper-outline"></ion-icon>
              {{ table.jobpost }}
            </ion-card-title>
            <ion-card-subtitle>{{ table.jobdepartment }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <!-- Department -->
            <ion-item lines="none">
              <ion-label class="item-label">Department:</ion-label>
              <ion-text class="item-value">{{ table.jobdepartment }}</ion-text>
            </ion-item>
          
            <!-- Code -->
            <ion-item lines="none">
              <ion-label class="item-label">Code:</ion-label>
              <ion-text class="item-value">{{ table.jobfaculty }}</ion-text>
            </ion-item>
          
            <!-- Requirements -->
            <ion-item lines="none">
              <ion-label class="item-label">Requirements:</ion-label>
              <ion-text class="item-value">
                <div *ngFor="let requirement of table.description.split('\n')">
                  {{ requirement }}
                </div>
              </ion-text>
            </ion-item>
          
            <!-- Qualification -->
            <ion-item lines="none">
              <ion-label class="item-label">Qualification:</ion-label>
              <ion-text class="item-value">{{ table.qualification }}</ion-text>
            </ion-item>
          
            <!-- Experience -->
            <ion-item lines="none">
              <ion-label class="item-label">Experience:</ion-label>
              <ion-text class="item-value">{{ table.required_exp }}</ion-text>
            </ion-item>
          
            <!-- End Date -->
            <ion-item lines="none">
              <ion-label class="item-label">End Date:</ion-label>
              <ion-text class="item-value">{{ table.date }}</ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>