.custom-footer {
  text-align: center;
  background-color: #065D78; 
  padding: 2px;
}

.color th {
  background-color: #065D78;
  color: white;
  font-weight: bold;
}

.body tr:nth-child(even) {
  background-color: #7A726A;
}

.body tr:nth-child(odd) {
  background-color: #EBDDDD;
}

.cent td, .cent th {
  text-align: center;
  padding: 8px;
}

.cent ion-icon {
  margin-right: 5px;
}

.total-text {
  font-weight: bold;
  margin-top: 10px;
}

.horizontal-button {
  display: inline-block;
  width: 60px;
  height: 40px;
  margin-right: 10px;
  padding: 0;
  border-radius: 0;
}

.horizontal-button.approve-button {
  --background: green;
  --color: white; 
}

.horizontal-button.decline-button {
  --background: red;
  --color: white; 
}

ion-content {
  --background: #ECF0F6;
}

img {
  width: 100px;
  height: 60px;
}

#popover-button {
  color: black;
}

.header-title {
  margin: 0 auto;
  text-align: center;
  color: black;
  font-weight: bold;
}

.menu {
  color: #000000;
  font-family: Arial;
  height: 50px; 
  cursor: pointer;
}

ion-menu-button {
  color: black;
  cursor: pointer;
}

ion-toolbar {
  --background: #ffffff; 
}

@media (min-width: 100px) and (max-width:  767px) {
  .cent {
    overflow-x: auto; 
    white-space: nowrap; 
    
  }
}

@media (min-width: 767px) and (max-width: 1140px) {

  .cent {
    overflow-x: auto;     
  }
   th, td{
    font-size: 30px;

  }

  .horizontal-button.approve-button{
    height: 50px;
    width: 250px;
    font-size: 30px;
    
  }

  ion-badge{
    font-size: 20px;
  }

  .horizontal-button.decline-button{
    height: 50px;
    width: 250px;
    font-size: 30px;
    
  }
}
