<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="phuto"  (click)="goToHomePage()">
      <img src="assets\MUT LOGO.png" class="image-size" >
    </ion-buttons>
    <h2 class="header-title">PROFILE</h2>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen  style="--background: url('assets/view3.jpg') no-repeat center / cover;">
  <p class="message hidden">
      Click apply to register and apply for this post
  </p>
  
  
  <div >
      <div *ngIf="!(user$ | async); else profileCard">
    <ion-card class="custom-card">
      <ion-card-header>
        <ion-card-title>
          MY PROFILE
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ counter }}
      </ion-card-content>

      <ion-icon class="prof" name="person"></ion-icon>
    </ion-card>
  </div>
    
    <ng-template #profileCard>
      <ion-card *ngIf="user$ | async as user">
          <ion-card-header>
              <ion-card-title>{{ user.fullName }}</ion-card-title>
              <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
              <ion-card-subtitle>{{ user.studentno }}</ion-card-subtitle>
            </ion-card-header>
      
        <ion-card-content   class="cont-div">
         
          <div style="display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: space-between;">
              <p style="margin-right: 10px;">Gender:</p>
              <p>{{ user.gender }}</p>
            </div>
            <br/>
            <div style="display: flex; justify-content: space-between;">
              <p style="margin-right: 10px;">Phone Number:</p>
              <p>{{ user.phoneNumber }}</p>
            </div>
            <br/>
            <div style="display: flex; justify-content: space-between;">
              <p style="margin-right: 10px;">Date Of Birth:</p>
              <p>{{ user.birthdate }}</p>
            </div>
            <br/>
            <div style="display: flex; justify-content: space-between;">
              <p style="margin-right: 10px;">Grade Average:</p>
              <p>{{ user.gradeAverage }}</p>
            </div>
            <br/>
            <div style="display: flex; justify-content: space-between;">
              <p>Status:</p>
              <div [ngClass]="getStatusBoxStyle(user.status)">
                <b [ngStyle]="{ color: getStatusTextColor(user.status) }">{{ user.status }}</b>
              </div>
            </div>
            <br/>
          </div>
          
          <!-- Additional fields displayed when showAll is true -->
          <div *ngIf="showAll" class="show-all" style="display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: space-between;">
              <p style="margin-right: 10px;">Address:</p>
              <p>{{ user.address }}</p>
            </div>
            <br/>
            <div style="display: flex; justify-content: space-between;">
              <p style="margin-right: 10px;">City:</p>
              <p>{{ user.city }}</p>
            </div>
            <br/>
            <div style="display: flex; justify-content: space-between;">
              <p style="margin-right: 10px;">Postal Code:</p>
              <p>{{ user.postalCode }}</p>
            </div>
            <br/>
            <div style="display: flex; justify-content: space-between;">
              <p style="margin-right: 10px;">Province:</p>
              <p>{{ user.province }}</p>
            </div>
            <br/>
            <div style="display: flex; justify-content: space-between;">
              <p style="margin-right: 10px;">Country:</p>
              <p>{{ user.country }}</p>
            </div>
            <br/>
            <div style="display: flex; justify-content: space-between;">
              <p style="margin-right: 10px;">Driver's License:</p>
              <p>{{ user.license }}</p>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
          </div>
          
          
        </ion-card-content>
    </ion-card>
    </ng-template>
    <ion-row>
       <ion-item *ngIf="this.status === 'recommended' " class="item">
        <ion-label class="status">Status</ion-label>
        <ion-select [(ngModel)]="status" (ionChange)="updateStatus(status)">
          <ion-select-option value="active">Active</ion-select-option>
          <ion-select-option value="placed">Placed</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
  </div>


 
    


  <div class="vertical-buttons">

    <ion-button class="col11" expand="block" color="primary" routerLink="/edit-profile" (click)="goToCreate()" title="click to edit your details" [disabled]="isButtonDisabled()">
      <ion-icon name="pencil"></ion-icon>
      {{ detProfile ? 'Update Profile' : 'Apply'}}
    </ion-button>

    <ion-button class="col11" expand="block" color="success" (click)="toggleAllDetails()" title="click to view all your details">
      <ion-icon name="list"></ion-icon>
      {{ showAll ? 'Hide Details' : 'View All Details' }}
    </ion-button>

    <ion-button class="col11" expand="block" color="danger" (click)="confermDelete()" title="click to delete your profile" [disabled]="isButtonDisabled()">
      <ion-icon name="trash"></ion-icon>
      Delete
    </ion-button>

    <ion-button class="col11" expand="block" color="medium" (click)="presentConfirmationAlert()" title="click to LogOut">
      <ion-icon name="exit"></ion-icon>
      Exit
    </ion-button>
  </div>


</ion-content>

<ion-footer class="custom-footer">
  Designed with ❤️ by <b>MUT INNOVATIONLAB</b>
</ion-footer>