<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/all-applications"></ion-back-button>
      <ion-menu-toggle>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="header-title">
      Schedule Interview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-container">
  <ion-card class="constant">
    <ion-card-header class="header">
       Interview Schedule
    </ion-card-header>

    <ion-item class="input-item">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label position="floating">Interview ID</ion-label>
      <ion-input type="text" [(ngModel)]="int_id" required="required" maxlength="13"></ion-input>
    </ion-item>
    
    <ion-item class="input-item">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" required id="f_name"></ion-input>
    </ion-item>
    
    <ion-item class="input-item">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" required="required" id="email"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label> Job Position</ion-label>
      <ion-select [(ngModel)]="selectedPosition">
        <ion-select-option *ngFor="let pos of position" [value]="pos">{{ pos }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="input-item" fill="outline">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-datetime-button datetime="birthDatee"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="birthDatee" [(ngModel)]="date"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <button class="butSubmit" (click)="submit()">Schedule</button>
    <button class="butSubmit1" (click)="cancel()">Cancel</button>
  </ion-card>
</ion-content>

<ion-footer class="custom-footer">
  Designed with ❤️ by <b>Innovation Lab</b>
</ion-footer>
