.header-title {
  margin: 0;
  text-align: center;
  font-weight: bold;
  animation: textFadeIn 1.5s ease-in-out;
}

ion-toolbar {
  --background: #ffffff; 
  color: #111;
}

ion-input {
  width: 20% !important;
  height: 100px;
}

ion-label {
  width: 70%;
}

.custom-background {
  --background: rgba(136, 35, 35, 0);
}

ion-list {
  height: 50vh;
  /* Uncomment if you need minimum height 
     min-height: 100vh; 
  */
}

.dismiss {
  font-size: 8px;
}

.submitBtn:hover {
  background-color: green;
}

.clearBtn:hover {
  background-color: red; 
}

.submitBtn svg,
.clearBtn svg {
  margin-left: 5px; /* Add margin to SVG icon */
}

// @media screen and (max-width: 768px) {
//   .submitBtn,
//   .clearBtn {
//     width: 100%; /* Make buttons full width */
//     background-color: grey;
//     color: white;
//     border: none;
//     padding: 10px 20px;
//     margin: 5px auto; /* Center buttons horizontally */
//     cursor: pointer;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   .submitBtn:hover {
//     background-color: green;
//   }

//   .clearBtn:hover {
//     background-color: red; 
//   }
// }

.custom-label {
  text-align: center;
  font-size: 24px; /* Adjust as needed */
}

.custom-card {
  width: 100%;
  background-color: #065D78;
  color: white;
}

.custom-icon {
  font-size: 45px;
  color: rgb(15, 76, 126);
  margin-top: 10px;
}

.info-label {
  margin-bottom: 5px; 
}

.icon-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-col {
  display: flex;
  flex-direction: column;
}


@media (max-width: 576px) {
  .mobile-col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 5px;
  }

  ion-grid {
    padding: 0;
  }

  ion-row {
    margin: 0;
  }

  .skill_card {
    margin: 5px 0;
  }

  .score-label {
    font-size: 13px;
  }

  // /* Button row responsiveness */
  // .button-row ion-col {
  //   flex-direction: row;
  //   // gap: 50px;
  // }

  // // .button-row ion-col {
  // //   padding: 0;
  // // }



  .main-grid {
    display: flex; 
    flex-direction: column;
    height: auto; 
  }

  .mobile-col {
    width: 100%; 
  }

 
}

.former {
  height: 100vh;
  background-color: #065D78;
  margin: -3.5px -6px 0 0;
  padding: 10px;
}
