.header-title {
  margin: 0;
  text-align: center;
  font-weight: bold;
  animation: textFadeIn 1.5s ease-in-out;
}

ion-toolbar {
  --background: #ffffff; 
  color: #111;
}
ion-input{
  width: 20% !important;
  height: 100px;
}

ion-label{
  width: 70%;
}

.custom-background {
  --background: rgba(136, 35, 35, 0);
}

ion-list {
  height: 100vh;
}

.dismiss{
  font-size: 8px;
}



.submitBtn:hover{
  background-color:green;
}
.clearBtn:hover {
  background-color:red; 
}

.submitBtn svg,
.clearBtn svg {
  margin-left: 5px; /* Add margin to SVG icon */
}

@media screen and (max-width: 768px) {
  .submitBtn,
  .clearBtn {
    width: 100%; /* Make buttons full width */
  }
}

.custom-label {
  text-align: center;
  font-size: 24px; /* You can adjust the value as needed */
}

.custom-card {
  width: 100%;
  background-color: #065D78;
  color: white;
}

.custom-icon {
  font-size: 45px;
  color: rgb(15, 76, 126);
  margin-top: 10px;
}

.info-label {
  margin-bottom: 5px; 
}

/* Additional styling if required */
.icon-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-col {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) { 
  .main-grid {
    display: flex; 
    flex-direction: column;
    height: auto; 
  }
  .mobile-col {
    width: 100%; 
  }
  .submitBtn,
  .clearBtn {
  background-color: grey; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  margin: 5px; 
  margin-right: 200px;
  cursor: pointer; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.submitBtn:hover{
  background-color:green;
}
.clearBtn:hover {
  background-color:red; 
}

}


.former{
  height: 100vh;
  border: 10px;
  border: 0;
 background-color: #065D78;
 margin-top: -3.5px;
 margin-right: -6px;
 padding: 10px;
//  overflow-y: auto;
}

