.maroon {
  background-color: rgb(247, 242, 242);
}

img {
  width: 100px; 
  height: 60px; 
}

#popover-button {
  color: black;
}

.title {
  text-align: center;
  margin-bottom: -10px;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
  --border-radius: 30px;
}

ion-content {
  --background: #006281;
}

p {
  color: red;
}


ion-searchbar,
.search {
  width: 100% !important;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-footer {
  text-align: center;
  background-color: #065D78; 
  padding: 2px;
}

.ion-label {
  font-size: 20px;
}

.butSubmit {
  background-color: #5A241F;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.butSubmit:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.butSubmit:hover:not(:disabled) {
  background: #0f86aa;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.butSubmit:disabled {
  cursor: auto;
  color: grey;
}

.card-content {
  display: flex; 
  gap: 20px; 
  flex-wrap: wrap; 
}

@media (max-width: 900px) {
  .jb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Crd,
  .Crd2,
  .EA,
  .buttonH,
  .butSubmit,
  .field-input,
  .form {
    width: 100%;
    margin-left: 0;
    font-size: 2rem;
  }
  
}
